<h1>Please fill out the form to add your vehicle.</h1>
<br/>
<form action="/mopars" method="POST">
<div>
    <label for="year">Year:</label>
    <input type="number" name="year">
</div>
<br>
<div>
    <label for="make">Make:</label>
    <input type="text" name="make">
</div>
<br/>
<div>
    <label for="model">Model:</label>
    <input type="text" name="model">
</div>
<br/>
<div>
    <label for="mileage">Mileage:</label>
    <input type="text" name="mileage">
</div>
<br/>
<div>
    <label for="doors">Number Of Doors:</label>
    <input type="number" name="doors">
</div>
<br/>
<div>
    <label for="color">Color:</label>
    <input type="text" name="color">
</div>
<br>
<div>
    <label for="vin">Vin Number:</label>
    <input type="text" name="number">
</div>
<div>
    <button type="submit">Submit</button>
</div>
</form>